body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #f4f6fb;
}

.auth-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-card {
  background: white;
  width: 420px;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0,0,0,0.08);
}

.logo-circle {
  width: 60px;
  height: 60px;
  background: #6f8ef6;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  color: white;
  margin: 0 auto 10px;
}

.title {
  margin: 0;
  font-weight: bold;
}

.subtitle {
  color: #6b7280;
  margin-bottom: 20px;
}

.section-title {
  margin: 20px 0;
  font-weight: bold;
}

.role-box {
  display: flex;
  gap: 15px;
  padding: 16px;
  border-radius: 12px;
  background: #f9fafb;
  cursor: pointer;
  margin-bottom: 12px;
  align-items: center;
}

.role-box:hover {
  background: #eef2ff;
}

.role-icon {
  font-size: 22px;
}

.form-title {
  margin-bottom: 20px;
}

label {
  font-weight: 600;
  margin-top: 12px;
  display: block;
}

.input-box {
  display: flex;
  align-items: center;
  border: 1px solid #d1d5db;
  border-radius: 10px;
  padding: 10px;
  margin-top: 6px;
}

.input-box input {
  border: none;
  outline: none;
  flex: 1;
  margin-left: 8px;
}

.primary-btn {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  border: none;
  background: #6f8ef6;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.forgot {
  color: #6f8ef6;
  font-size: 14px;
  margin-top: 10px;
  cursor: pointer;
}

.back-link {
  background: none;
  border: none;
  color: #6f8ef6;
  cursor: pointer;
  margin-bottom: 15px;
}
